<div class="container">
    <h2>Login</h2>
    <form action="/login/post" method="POST" id="login">
        <div>
            <div class="control-form">
                <i class="bi bi-person-fill"><input type="email" name="email" placeholder="Digite seu E-mail"> </i>
            </div>
            <div class="control-form">
                <i class="bi bi-lock-fill"><input type="password" name="password" placeholder="Digite sua senha"> </i>
            </div>
        </div>
        <div class="content-links">
            <p>Eu não tenho uma conta <a href="/register">clique aqui</a></p>
            <input type="submit" value="Acessar">
        </div>
    </form>
</div>