<div class="container">
    <h2>Registre-se</h2>
    <form action="/register/post" method="POST" id="login">
        <div>
            <div class="control-form">
                <i class="bi bi-person-fill"><input type="text" name="name" placeholder="Digite seu nome"> </i>
            </div>
            <div class="control-form">
                <i class="bi bi-envelope-at-fill"><input type="email" name="email" placeholder="Digite seu E-mail"> </i>
            </div>
            <div class="control-form">
                <i class="bi bi-lock-fill"><input type="password" name="password" placeholder="Digite sua senha"> </i>
            </div>
            <div class="control-form">
                <i class="bi bi-lock-fill"><input type="password" name="confirmPassword" placeholder="confirme sua senha"> </i>
            </div>
        </div>
        <div class="content-links">
            <p>Eu jรก tenho uma conta <a href="/login">clique aqui</a></p>
            <input type="submit" value="Criar">
        </div>
    </form>
</div>